.block {
  width: 100vw;
  padding-top: 0;
}

.block_body {
  display: flex;
  align-items: center;
}

.blockLanding {
  background: url('./background.png');
  background-size: cover;
  height: 140vh;
}

.blockBrown {
  background-color: #524d48;
}

.text {
  padding: 0 2rem;
}
